/* Variables de Bootstrap */
$body-bg: #fff;
$body-color: #111;
$link-color: #111;
$border-color: #e6e6e6;
$muted-color: #666;
$accent-color: #c59d5f;

$font-family-sans-serif: Arial, Helvetica, sans-serif;
$headings-font-weight: 900;

$btn-font-weight: 600;
$btn-border-radius: .625rem;
$btn-padding-y: .65rem;
$btn-padding-x: 1.125rem;
$btn-bg: #111;
$btn-border-color: #111;
$btn-color: #fff;
$btn-hover-bg: #000;
$btn-hover-border-color: #000;

$card-border-radius: 16px;
$card-border-color: #e6e6e6;